
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  width: 100%;
  overflow-x: hidden; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://cdn.britannica.com/03/94403-050-03683FB0/Rio-de-Janeiro-Braz.jpg");
  background-size: cover;
  background-position: center;
}

.registercontainer {
  padding: 32px;
  background-color:  rgba(201, 189, 189, 0.8); 
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box; 
}

.registercontainer h1 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.8rem;
}

.registerform {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.registerform div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.registerform label {
  font-size: 1rem;
}

.registerform input {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd; 
  font-size: 1rem;
  border-radius: 5px;
  padding: 0 10px;
}

.registerform ::placeholder {
  color: #888;
}


.registercontainer button {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(13, 13, 195);
  color: white;
  font-weight: 600;
  margin-top: 20px;
  border: none;
}

.registercontainer span {
  padding: 10px;
  align-self: center;
  font-size: 1rem;
  font-weight: 700;
}

.registercontainer button:hover {
  background-color: #0056b3;
}


@media (max-width: 600px) {
  .registercontainer {
    width: 95%;
    padding: 20px;
  }

  .registercontainer h1 {
    font-size: 1.5rem;
  }

  .registerform {
    padding: 0 10px;
  }

  .registerform input {
    height: 35px;
    font-size: 0.9rem;
  }

  .registercontainer button {
    width: 100%;
    height: 35px;
    font-size: 0.9rem;
  }
}
